In [10]:
import pandas as pd

# Pandas Duplicated

Often tiems you wil have a series with duplicate values and you will want to know where they are.

In [11]:
my_series = pd.Series(["Kanye West","Drake","Mac Miller","Drake","Beyonce","Kanye West","Drake"], name="artist")
my_series

0    Kanye West
1         Drake
2    Mac Miller
3         Drake
4       Beyonce
5    Kanye West
6         Drake
Name: artist, dtype: object

Looks like Kanye West and Drake have duplicate values in the series above. This is an easy example. but what if you have 100k data points?

you will need a quicker way to locate duplicates than eye-balling it

# There are 3 ways to find duplicates
the first

the last

all of them

In [12]:
# The First
series_duplicates_first = my_series.duplicated(keep="first")
series_duplicates_first.name = "duplicates"
series_duplicates_first

0    False
1    False
2    False
3     True
4    False
5     True
6     True
Name: duplicates, dtype: bool

to get a better view of which one is duplicated, instead of True or False

In [13]:
pd.concat([my_series, series_duplicates_first],axis=1)

       artist  duplicates
0  Kanye West       False
1       Drake       False
2  Mac Miller       False
3       Drake        True
4     Beyonce       False
5  Kanye West        True
6       Drake        True

In [14]:
# The Last
series_duplicates_last = my_series.duplicated(keep="last")
series_duplicates_last.name = "duplicates"
series_duplicates_last

0     True
1     True
2    False
3     True
4    False
5    False
6    False
Name: duplicates, dtype: bool

In [15]:
pd.concat([my_series, series_duplicates_last],axis=1)

       artist  duplicates
0  Kanye West        True
1       Drake        True
2  Mac Miller       False
3       Drake        True
4     Beyonce       False
5  Kanye West       False
6       Drake       False

In [16]:
# All Duplicates
series_duplicates_false = my_series.duplicated(keep=False)
series_duplicates_false.name = "duplicates"
series_duplicates_false

0     True
1     True
2    False
3     True
4    False
5     True
6     True
Name: duplicates, dtype: bool

In [17]:
pd.concat([my_series, series_duplicates_false],axis=1)

       artist  duplicates
0  Kanye West        True
1       Drake        True
2  Mac Miller       False
3       Drake        True
4     Beyonce       False
5  Kanye West        True
6       Drake        True